Django==1.4.1
South==0.7.6
argparse==1.2.1
dj-database-url==0.2.1
django-heroku-memcacheify==0.3
django-social-auth==0.7.4
httplib2==0.7.4
oauth2==1.5.211
psycopg2==2.4.5
python-openid==2.2.5
raven==2.0.3
requests==0.13.6
simplejson==2.4.0
wsgiref==0.1.2
