{# vim: set ft=htmldjango #}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
        <a class="brand" href="">Cool name</a>
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Repos</a>
            <ul class="dropdown-menu">
              {% for repo in request.user_repos %}
                <li>{{ repo }}</li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="{% url index %}">Followers</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ request.user.username }}
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</div>
